$desktop: 1000px;

*{box-sizing:border-box;}

body{
	background-color: #091015;
	/*https://farm8.staticflickr.com/7632/16256868034_f9482916b8_k.jpg
	background-image: url('https://farm3.staticflickr.com/2894/13280225475_714887e866_k.jpg');		
	background-size: cover;		    
	background-position: center;*/
	height: 100vh;
}

button{		
	background-color:transparent;
	border:0;
	
	&:focus{
		outline:0;
	}
}	

.player{						
	background-color: #000;				
	
	@media screen and (min-width: $desktop){
		border-radius: 5px;
		left: 50%;
		max-width:800px;
		overflow: hidden;
		position: absolute;
		transform: translate3d(-50%,-50%,0);
		top: 50%;
		width: 60%;

		&:after{
			content:"";
			display:block;
			padding-top:50vh;
		}
	}
}	

.btn-play-wrapper{				
	background-color: #2980b9;
	height: 120px;
	text-align: center;		
	width: 100%;

	@media screen and(min-width: $desktop){
		cursor: pointer;	
		opacity:.8;	
		transition: opacity 0.2s ease;		
		
		&:hover{
			opacity:1 !important;
		}
	}
}

.btn-play,
.paused,
.paused:after{
	display: inline-block;
}

.btn-play{					
	border: 50px solid transparent;		
	border-left: 100px solid #fff;
	border-right:0;
	height: 0px;
	width: 0px;
}
	
.paused{
	left: -25px;
	position: relative;
}

.paused,
.paused:after{		
	border: 0;
	background-color: #FFF;
	height: 100px;
	width: 25px;		
}

.paused:after{
	background-color: #fff;
	content: "";
	display: block;		
	height: 100%;
	margin-left: 150%;
	width: 100%;		
}

.playlist{				
	background-color: #02050C;
	overflow:hidden;
	width:100%;
	
	@media screen and (min-width: $desktop){
		left: 50%;
		position: absolute;						
		transform: translate3D(-50%, -50%, 0);
		top: 50%;
		width:50%;
	}
	
	.playlist-slider{
		width:10000px;
	}
}

.song{			
	background-repeat:no-repeat;
	background-size:contain;
	float:left;
	margin: 0 20px 0 0;
	max-width:92px;					
	position:relative;		
	width:50%;

	&:after{
		content:"";
		display:block;
		padding-top:100%;
	}
}

.song-info{			
	bottom:0;
	color:#fff;
	padding:10px;
	width:100%;				
	
	h3{
		margin:0;
	}
}
/******************************
* Playlist Controls
******************************/
.playlist-controls{
	background-color: #011E31;		
	width:100%;
	
	@media screen and (min-width: $desktop){
		bottom:0;
		left:0;	
		position:absolute;				
	}
	
	.btn-skip-song{				
		color: #fff;
		display: block;
		font-size: 2em;
		padding: 50px;
		transition: transform 0.15s ease;
		transform: scale(.6);
		width: 100%;

		&:hover{
			transform:scale(1);
		}
	}
}
/******************************
* Track Status
******************************/
.track-status{	
	background-color: #05273E;	
	position: relative;
	width:100%;		

	#currentTime,
	#trackDuration{
		color:#fff;
		left:10px;
		position:absolute;
		top:50%;
		transform: translateY(-50%);
	}
	#trackDuration{
		left: auto;
		right:10px;
	}
	
	#positionIndicator{		
		background-color: #001523;
		height: 5vh;
		max-width: 100%;		
		transition: width 0.5s ease;
		width: 0;
	}
}